h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin:30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#000;
    font-weight:800;
    font-family: $primaryFont;
}

h1,
.h1 {
    font-size:48px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h2,
.h2 {
    font-size:36px;
}

h3,
.h3 {
    font-size:30px;
}

h4,
.h4 {
    font-size:24px;
}

h5,
.h5 {
    font-size:24px;
}

h6,
.h6 {
    font-size:24px;
}

p {
    font-size:16px;
}

.lead {
    font-size:24px;
}

.alpha {
    margin-top:0;
}

.subheadline {
    margin-top:-20px;
}

.type-right--medium {
    @mixin atMedium {
        text-align:right;
    }
}